<div class="container-fluid">
    <!--NAVBAR-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" routerLink="/test">PRUEBA TORY TECH</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <!--NAVBAR-->
    <!--JUMBOTRON-->
<br>
<div class="jumbotron col-md-11 col-center">
     <h1 class="display-4">Bienvenidos!</h1>
    <p class="lead">En este sitio se consume una API REST.</p>
    <hr class="my-4">
    <p>Link: <a href="https://jsonplaceholder.typicode.com/posts">https://jsonplaceholder.typicode.com/posts</a></p>
    <hr class="my-4">
    <p><span class="fa fa-thumbs-up"></span>&nbsp; <b>Developer:</b> Ing. Diego Rosero - <b>Contact:</b> 3128719489</p>
</div>
<br>
<!--JUMBOTROM-->
<!--MODAL-->
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Nuevo registro</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="id">ID:</label>
                <input type="number" class="form-control" [(ngModel)]="registro.id" id="id" name="id" >
            </div>
            <div class="form-group">
                <label for="userid">USER ID:</label>
                <input type="number" class="form-control" [(ngModel)]="registro.userid" id="userid" name="userid" >
            </div>
            <div class="form-group">
                <label for="title">TITLE:</label>
                <input type="text" class="form-control" [(ngModel)]="registro.title" id="title" name="title">
            </div>
            <div class="form-group">
                <label for="body">BODY:</label>
                <input type="text" class="form-control" [(ngModel)]="registro.body" id="body" name="body">
            </div>
            
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" (click)="guardarRegistro()">Guardar</button>
    </div>
</ng-template>

<hr><button class="btn btn-sm btn-outline-primary" (click)="open(content)">Nuevo registro</button><hr>
<!--MODAL-->
  
<!--TABLA DE REGISTROS-->
<table class="table table-hover col-lg-10 col-center">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">USERID</th>
        <th scope="col">ID</th>
        <th scope="col">TITLE</th>
        <th scope="col">BODY</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of data | paginate: { itemsPerPage: 5, currentPage: p } ;let i=index">
        <th scope="row">{{i+1}}</th>
        <td>{{d.userId}}</td>
        <td>{{d.id}}</td>
        <td>{{d.title}}</td>
        <td>{{d.body}}</td>
        <td><button type="button" class="btn btn-danger" (click)="eliminarRegistro(i)">Eliminar</button></td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
<!--TABLA DE REGISTROS-->